body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: row;
    position:relative;
    left: 25%;
    margin: 50px 0;
    column-gap: 20px;
    /* margin: 0 auto; */
    width: 50vw;
}

.box-img img{
    position: relative;
    width: 10em;
    border-radius:50% ;
}
.box-info{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin: 0; */
    width: 70ch;
    background-color: antiquewhite;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:10px ;
    border-radius: 18px;
}
.box-info h6{
    font-weight: lighter;
    margin: 0;
    position: absolute;
    top: 60px;
}
.box-info p{
    font-weight: 100;
    font-size: small;
    line-height: 1.5;
}
.box-info li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}
.box-info li{
    list-style:square;
    padding-left: 20px;
}
.member-container{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    width: 70rem;
    height: 50vh;
    justify-content: center;
    background: #f0e0e0;
    margin: 0 auto 80px auto;
    border-radius: 50px;
    box-shadow: 0px 10px 8px -5px;
}
.members{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    /* background: #000; */
}
.members img{
    width: 10em;
    border-radius: 50%;
}
.team h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 8ch;
    margin: 10px auto;
}
.members a{
    text-decoration: none;
    color: #000;
    font-weight: bold;

}